@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Boheld";
  src: url("./fonts/Boheld.otf") format("opentype");
}

@font-face {
  font-family: "Play-Regular";
  src: url("./fonts/Play-Regular.ttf") format("truetype");
}

:root {
  --background: #171717;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

h1 {
  font-family: "Boheld";
}

p {
  font-family: "Play-Regular";
}

label {
  font-family: "Play-Regular";
}

span {
  font-family: "Play-Regular";
}

input {
  font-family: "Play-Regular";
}
